{% extends 'admin/base.html' %}
{% block content %}
    <div class="container">
        <h1 class="mt-5"><i class="fa fa-user"></i>User<small class="ml-4">(Add User)</small></h1>
        <hr class="mb-2"/>
        <div class="py-5 add-user-box">
            <form action="" class="form" method="POST"  onsubmit="return formSubmit();">
                <div class="form-group">
                    <label for="id_user_name">Name</label>
                    <input type="text" name="user_name" id="id_user_name" class="form-control"
                           placeholder="Enter Name Of User Here" required>
                </div>
                <div class="form-group">
                    <label for="id_user_email">Email</label>
                    <input type="email" name="user_email" id="id_user_email" class="form-control"
                           placeholder="Enter Email Of User Here" required>
                </div>
                <div class="form-group">
                    <label for="id_user_password">Password</label>
                    <input type="password" name="user_password" id="id_user_password" class="form-control"
                           placeholder="Enter Password Of User Here" required minlength="6">
                    <div class="text-danger mt-1" id="password_msg"></div>
                </div>
                 <div class="form-group">
                    <label for="id_user_cpassword">Confirm Password</label>
                    <input type="password" name="user_cpassword" id="id_user_cpassword" class="form-control"
                           placeholder="Enter Confirm Password" required minlength="6">
                </div>

                <input type="submit" value="Add User" class="btn btn-outline-warning">
            </form>
        </div>
    </div>

    <script>
        function formSubmit()
        {

            //CHECK PASSWORD AND CONFIRM PASSWORD MATCH OR NOT
            var password = $("#id_user_password").val();
            var cpassword = $("#id_user_cpassword").val();
            if(password!=cpassword)
            {
                $("#id_user_password").addClass("is-invalid");
                $("#id_user_cpassword").addClass("is-invalid");
                $("#password_msg").html("Password and Confirm Password Doesn't Match.");
                return false;
            }
            else
            {
                $("#id_user_password").removeClass("is-invalid");
                $("#id_user_cpassword").removeClass("is-invalid");
                return true;

            }
        }
    </script>

{% endblock %}
